* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

.container {
  width: 720px;
  margin: 0 auto;
}

.container-bg {
  background-color: #ededed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
}

.navbar li {
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #969696;
}

.ativo {
  font-size: 1.5rem;
  font-weight: 1000;
  color: #6b6b6b !important;
}

.navbar li:hover {
  color: black;
  font-weight: 600;
}

.nfce {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.input-nfce {
  width: 500px;
  height: 150px;
  resize: none;
}

.output-nfce {
  width: 500px;
  height: 150px;
  resize: none;
  background-color: #e8e8e8;
}

.btn-nfce {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #aafac6;
  cursor: pointer;
  color: #446650;
  transition: box-shadow 0.2s, width 0.4s;
  margin-bottom: 30px;
}

.btn-copiar {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #93c0d9;
  cursor: pointer;
  color: #445a66;
  transition: box-shadow 0.2s, width 0.4s;
  margin-bottom: 30px;
}

.btn-limpar {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #ff9696;
  cursor: pointer;
  color: #4a0000;
  transition: box-shadow 0.2s, width 0.4s;
  margin-bottom: 30px;
}

.btn-nfce:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.btn-copiar:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.btn-limpar:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
